:root {
  --jinz-avatar-width: 36px !important;
  --jinz-avatar-height: 36px !important;
  --jinz-button-sm-padding-y: 0.5rem !important;
  --jinz-button-sm-padding-x: 0.5rem !important;
  --jinz-inputtext-sm-padding-y: 0.5rem !important;
  --jinz-popover-arrow-offset: none !important;
  --jinz-popover-content-padding: 0 !important;
}
